/* Asegura que html y body ocupen el 100% del alto de la pantalla */
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo para el formulario */
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  